{% extends 'base.html.twig' %}
{# VUE DE TEST #}
{% block body %}
    <h1>Création d'une fiche frai</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Valider" class="waves-effect waves-light btn red darken-2" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('fichefrais_index') }}" class="waves-effect waves-light btn red darken-2">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
